version: "3.9"

services:
  backend:
    build:
      context: ./BackEnd
      dockerfile: Dockerfile
    container_name: traceability_api
    restart: always
    env_file: ./BackEnd/.env
    ports:
      - "8000:8000"
    volumes:
      - ./BackEnd:/app
      - /app/__pycache__/
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    depends_on:
      - db

  frontend:
    build:
      context: ./FrontEnd
      dockerfile: Dockerfile
    container_name: traceability_ui
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NUXT_PUBLIC_API_URL=http://localhost:8000/api/v1
    volumes:
      - ./FrontEnd:/app
      - /app/node_modules
    depends_on:
      - backend

  db:
    image: postgres:15
    container_name: traceability_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: traceability
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
